#prueba_ci{
    background-color:red;
    color:yellow;
}

#header{
    height: 40px;
        background-color:yellow;
    color:blue;
    padding-top: 10px;
    
}

#titulopag{

/*Asignamos a la etiqueta  la tipografia
definida anteriormente y el tamaño*/
font: 70px font_nueva, sans-serif ;
color:white
}

body{


/*

    background-image:url(../image/beige.jpg);
background-size : 100% 100%;
*/

background-color:black;

}

#footer{
    margin-top: 35px;
    height:30px;
    background-color: orange;
    color:white;

}

.campo_formulario{
  margin-bottom:10px


}

#formulario_registro{

    margin-top: 20px;
    border:1px solid #ccc;
    padding: 30px;
}

#label{

    text-align: right;
    float: left;
    width: 120px;
    padding: 5px;
    font-size: 12px;
       
}

#boton_submit{
    padding-left: 150px;
}

#mensaje{
line-height:30px;padding-left:20px;idht:760px;height:30px;background-color:black;color:white;text-align:center;
}

		.cajas{
	width:130px;
	height:18px;
	top:0px;
	left:0px;
	background-color:transparent;
color:white;

border-radius: 3px;

}




.barra{
width:320px;height:15px
}

	p{
		border: 1px solid #999;
		padding: 5px;
		margin: 0px;
	}
	#cabecera{
		    background-image:url(../image/fondook.jpg);
background-size : 100% 100%;
line-height:40px;
	}
	#buscador{
		background-color: #ccffcc;
	}
	#izq{
		background-color: #e0e0ff;
	}
	#izq1{
		background-color: #ccccff;
	}
	#izq2{
		background-color: #9999ff;
	}
	#izq3{
		background-color: #6666ff;
	}
	#der{
		background-color: #dedede;
	}
	#pie{
		background-color: #ff8800;
	}
	
	
	
	
	.corpo{padding-left:20px;width:920px;height:770px;background-color:green;color:white}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
.button, .button:visited { /* botones genéricos */
background: #222 url(http://localhost/misconsultorios/overlay.png) repeat-x;
display: inline-block;
padding: 5px 10px 6px;
color: #FFF;
text-decoration: none;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-bottom: 1px solid rgba(0,0,0,0.25);
position: relative;
cursor:pointer;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
border: none;
}

.button:hover { /* el efecto hover */
background-color: #111
color: #FFF;
}

.button:active{ /* el efecto click */
top: 1px;
}

/* botones pequeños */
.small.button, .small.button:visited {
font-size: 11px ;
}

/* botones medianos */
.button, .button:visited,.medium.button, .medium.button:visited {
font-size: 13px;
font-weight: bold;
line-height: 1;
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

/* botones grandes */
.large.button, .large.button:visited {
font-size:14px;
padding: 8px 14px 9px;
}


#admin{
background-color:yellow;
font-weight:bold;position:relative;
left:40px;clear:both;top:30px;
width:130px;height:30px;
font-size:14px;
color:red;
}


/* botones extra grandes */
.super.button, .super.button:visited {
font-size: 34px;
padding: 8px 14px 9px;
}

.pink.button { background-color: #E22092; }
.pink.button:hover{ background-color: #C81E82; }

.green.button, .green.button:visited { background-color: #91BD09; }
.green.button:hover{ background-color: #749A02; }

.red.button, .red.button:visited { background-color: #E62727; }
.red.button:hover{ background-color: #CF2525; }

.orange.button, .orange.button:visited { background-color: #FF5C00; }
.orange.button:hover{ background-color: #D45500; }

.blue.button, .blue.button:visited { background-color: #2981E4; }
.blue.button:hover{ background-color: #2575CF; }

.yellow.button, .yellow.button:visited { background-color: #FFB515; }
.yellow.button:hover{ background-color: #FC9200; }